.sideBar {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f6f6;
}

.sideBar ul {
  list-style: none;
}
.sideBar ul > li {
  padding: 10px;
  margin: 10px 10px;
  background-color: white;
}
.sideBar ul > li:hover {
  background-color: aliceblue;
  opacity: 0.5;
}

.sideBar li a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .sideBar {
    width: 60px;
  }
  .link_name {
    display: none;
  }
}
